.list {
  width: 60% !important;
  background-color: #fff;
  margin-top: 50px;
  margin-left: 50px;
  padding: 50px;
  border-radius: 4px;
  width: 50%;
  box-shadow: 0px 0px 10px 5px rgba(120, 118, 118, 0.1);
  margin-left: 22.5%;
}
.list-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.list-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  color: #777676;
}
.list-search {
  width: 30%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  font-size: 16px;
  color: #777676;
}
table {
  width: 100%;
}
tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.th {
  color: #6a6969;
  text-align: center !important; 
}
.td {
  text-align: center !important;
  color: #777676;
}
tbody tr {
  padding: 10px;
}
tbody tr:nth-child(odd){
  background-color: #f4f4f4;
}
.list-image {
  width: 40px;
  height: 40px;
}
.list-icon {
  font-size: 20px;
  color: red;
}

@media (max-width: 1320px) {
  .list {
    width: 70% !important;
    margin-left: 27.5%;
    margin-top: 35px;
  }
}

@media (max-width: 1000px) {
  .list {
    width: 100% !important;
    margin-left: 0%;
    margin-top: 70px;
  }
}
@media (max-width: 650px) {
  .list {
    width: 100% !important;
    margin-left: 0%;
    margin-top: 90px;
    padding: 20px;
  }
  .list-select {
    padding: 4px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    color: #777676;
  }
  .list-search {
    width: 30%;
    padding: 6px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    font-size: 14px;
    color: #777676;
  }
  .th-img{
    display: none !important;
  }
 .list-image{
   display: none;
  }
}

@media (max-width: 500px) {
  .list {
    margin-top: 50px;
  }
  .list-search {
    width: 50%;
  }
  .th {
    font-size: 14px;
  }
  .td {
    font-size: 14px;
  }
  .th:nth-child(1) {
    display: none !important;
  }
  .th:nth-child(3) {
    display: none !important;
  }
  .td:nth-child(1) {
    display: none !important;
  }
  .td:nth-child(3) {
    display: none !important;
  }
}