* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
}

body {
  /* background-color: #fffbdc; */
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
}