* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-color: #fffbdc;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
}